html, body {
  background-color: #ffffff;
  font-size: 20px;
  color: #202020;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'roboto condensed';
  font-weight: 300;
}

/*==========================================
PRE LOADER
==========================================*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}
.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}
a, button, a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.extra-width {
  padding: 13px 40px;
}
.btn:focus, .btn:active {
  outline: inherit;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*    direction: rtl;*/
}
p {
  margin: 0 0 15px;
}
.clear {
  clear: both;
}
ol, ul {
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  outline: none;
}
.form-control {
  border: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 16px;
  --height: 45px;
}
.form-control:focus {
  border-color: #f56363;
}
h1, h2, h3 {
  /*font-family: 'Lane', sans-serif;*/
  font-weight: 300;
  margin: 0;
}
h4, h5 {
  /*font-family: 'roboto', sans-serif;*/
  font-weight: 300;
  margin: 0;
  line-height: 2rem;
}
h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: .9rem;
}
h3 {
  font-weight: 300;
  margin-bottom: .9rem;
  font-size: 2.1rem;
  line-height: 2.5rem;
}
h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-bottom: 1.1rem;
}
h5 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
h6 {
  font-size: 1rem;
  margin-bottom: .9rem;
}
p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}
p:last-child {
  margin-bottom: 0px;
}

/*.home-wrap h1,*/

.home-wrap h2, .home-wrap h3, .home-wrap h4, .home-wrap h5, .home-wrap p {
  color: #ffffff;
  /*font-family: 'roboto', sans-serif;*/
}
.text {
  color: #333333;
}
.colorstext {
  color: #f56363;
}
.coloricon i {
  color: #f56363;
}
.colorsbg {
  background: #f56363;
  color: #ffffff;
}
.lightbg {
  background-color: #f9f9f9;
}
.transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

/*
Section
*/

.blur{
  
}
.sections {
  /*filter: blur(0px);*/
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}
.sections.footer {
  padding-bottom: 80px;
}
section .subtitle h5 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: 'roboto', sans-serif;
}
.parallax-section {
  max-width: 100%;
  color: #ffffff;
}
section .title-half h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
  font-weight: 100;
  font-size: 17px;
}
.overlay {
  background-color: rgba(0, 0, 0, .55);
  width: 100%;
  min-height: 700px;
}
.overlay-fluid-block {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.home-overlay-fluid {
  background-color: rgba(41, 41, 41, 0.68);
  width: 80%;
  margin: auto;
}
.overlay-img {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
}
.no-padding {
  padding: 0 !important;
}
.fluid-blocks-col {
  padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
  padding: 70px 80px 0 40px;
}

/*
Separator
*/

.separator {
  height: 1px;
  width: 150px;
  margin: auto;
  background: #f56363;
}

/*
Button
*/

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.disabled, .btn-primary.disabled:hover {
  color: #ffffff;
  background-color: #f56363;
  border-color: #f56363;
}

/*.btn-default:active, .btn-default:hover  {
    background: transparent;
}*/


/*
Extra height css
*/
/*
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.padding-top-20 {
  padding-top: 1.33rem;
}
.padding-bottom-20 {
  padding-bottom: 1.33rem;
}
.padding-top-40 {
  padding-top: 2.66rem;
}
.padding-bottom-40 {
  padding-bottom: 2.66rem;
}
.padding-top-60 {
  padding-top: 5rem;
}
.padding-bottom-60 {
  padding-bottom: 5rem;
}
.padding-bottom-0 {
  padding-bottom: 0;
}



.padding-twenty {
  padding: 10px 0;
}
.padding-fourty {
  padding: 20px 0;
}
.padding-sixty {
  padding: 30px 0;
}
.padding-eighty {
  padding: 40px 0;
}
h1 span {
  color: #f56363;
  font-weight: 400;
}*/

/*for placeholder changes*/


/*input::-webkit-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input::-moz-placeholder {
  color: #CACACA;
  font-size: 18px;
}
input:-ms-input-placeholder {
  color: #CACACA;
  font-size: 18px;
}
textarea::-webkit-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  text-align:center;
}
textarea::-moz-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  text-align:center;
}
textarea::-ms-input-placeholder
{
  color: #CACACA;
  font-size: 18px;
  text-align:center;
}

*/


/* For Our Global CSSS */

.scroll-down {
  margin-top: 100px;
  text-align: center;
}
#firstScroll {
  margin-top: 0px;
  text-align: center;
}
.scroll-down a {
  font-size: 50px;
  color: #f1f1f1;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}
.scroll-down a:hover {
  color: red;
}
.heading {
  margin-bottom: 4rem;
}
.heading h3 {
  font-size: 45px;
  letter-spacing: 2px;
}
.heading p {
  line-height: 40px;
}

/* For Menu Section */

.navbar-default {
  background-color: rgba(0, 0, 0, 0.8);
  border: 0px;
  margin: 0 auto;
}
.navbar-default .navbar-nav>li>a {
  color: #f1f1f1;
  text-transform: uppercase;
  padding-top: 45px;
  /*previous value was 45px changed for making menu fullscreen*/
  padding-bottom: 45px;
  font-size: 20px;
  font-family: 'roboto condensed';
  letter-spacing: 2px;
  line-height: 0;
}
.navbar-default .navbar-nav>.active>a {
  color: #f1f1f1;
  background-color: transparent;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: red;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: red;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-nav {
  text-align: center;
}
.navbar-toggle {
  background-color: rgba(241, 241, 241, 0.8);
  border: 0;
  border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d32a20;
  /*MENU lines color */
}
.menu-bg {
  background: rgba(0, 0, 0, 0.8);
}

/* For Home Section */

.home {
  background: url(../images/swirl.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.home-details {
  margin-top: 50px;
  color: #f1f1f1;
}
.home-details .logo {
  margin-bottom: 50px;
}
.home-details .home-title h1 {
  font-size: 60px;
  font-family: 'nexa_lightregular';
  letter-spacing: 1px;
}
.home-details .home-title h1 span {
  font-family: 'nexa_boldregular';
  color: #f1f1f1;
}

/* For About Section */

.about-content {
  margin-top: 40px;
}



#speakers {
  background: url(../images/bg.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
#theme {
  background: url(../images/swirl.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
#sponsors {
  background: url(../images/swirl.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}
.portfolio .title h3 {
  color: #f1f1f1;
}
.portfolio-wrapper {
  width: 100%;
  margin-left: -20px;
  text-align: center;
}
.portfolio-item {
  cursor:pointer;
  display: inline-block;
  overflow: hidden;
  width: 22%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.portfolio-details {
  width: 100%;
}
.portfolio-details img {
  width: 100%;
}

/* For Contact Section */

.contact-details .contact-category {
  margin-top: 30px;
}
.contact-details .contact-category h4 {
  font-size: 25px;
  font-family: 'nexa_boldregular';
}
.contact-details .contact-category .social a {
  font-size: 26px;
  color: #202020;
  border: 2px solid #202020;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin: 10px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}
.contact-details .contact-category .social a :hover {
  color: red;
}

/* For Footer Section */

.copyright {
  border-top: 1px solid #bebebe;
  padding: 30px 0;
}
.copyright p {
  color: #545454;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'nexa_lightregular';
}

/*Hamare CSS Starts here*/
#floating-button{
  width: 55px;
  height: 55px;
  
  background: transparent;
  position: fixed;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
  
}

#logoText {
  font-family: '33535gillsansmt';
  /*just testing '33535gillsansmt'*/
  letter-spacing: 1.5vw;
  font-size: 3.0vw;
  width: 100%;
  position: absolute;
  margin-top: 185px;
  opacity: 0.8;
}
#logoXCET {
  position: absolute;
  left: 3px;
  top: 3px;
  overflow: hidden;
  height: 75px;
  padding-top: 15px;
  padding-left: 15px;
  opacity: 0.8;
}
#collapser {
  background-color: transparent;
}
.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
position: fixed;
  max-height: 100%;
  max-width: 100%;
  
}
.modal-dialog{
  margin-top:100px;
}
.modal-content {
  background-color: rgb(178, 34, 34);
}
.modal-header {
  border-width: 0px;
}
.mod {
  font-family: 'roboto condensed';
  color: white;
}
input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 3px;
  background-color: rgb(178, 34, 34);
  border-color: white;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
th {
  color: #D5DDE5;
  ;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
th:first-child {
  border-top-left-radius: 3px;
}
th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
tr:nth-child(odd) td {
  background: #EBEBEB;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
td {
  background: #FFFFFF;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
td:last-child {
  border-right: 0px;
}
th.text-left {
  text-align: left;
}
th.text-center {
  text-align: center;
}
th.text-right {
  text-align: right;
}
td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}
.modalalign {
  text-align: justify;
  text-justify: inter-word;
}
#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*navicon*/

#collapser {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.yui {
  text-align: justify;
  text-justify: inter-word;
  color: white;
  margin-left: 30px;
  margin-right: 30px;
}
.blacktext {
  text-align: justify;
  text-justify: inter-word;
  color: black;
  margin-left: 30px;
  margin-right: 30px;
}
#collapser {}
#collapser span {
  display: block;
  position: absolute;
  height: 3px;
  width: 40%;
  background: #d32a20;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#collapser span:nth-child(even) {
  left: 37%;
  border-radius: 0 9px 9px 0;
}
#collapser span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}
#collapser span:nth-child(1), #collapser span:nth-child(2) {
  top: 0px;
}
#collapser span:nth-child(3), #collapser span:nth-child(4) {
  top: 10px;
}
#collapser span:nth-child(5), #collapser span:nth-child(6) {
  top: 20px;
}
#collapser.open span:nth-child(1), #collapser.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#collapser.open span:nth-child(2), #collapser.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#collapser.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}
#collapser.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}
#collapser.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#collapser.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#collapser.open span:nth-child(5) {
  left: 5px;
  top: 18px;
}
#collapser.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}
.close {
  color: white;
  width: 10px;
  opacity: 1;
}

/*BOUNCING ARROW effect*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bounce {
  animation: bounce 2s infinite;
}
#regSpan {
  border-radius: 3px;
  padding: 10px;
  width: 5px;
  background-color: #cd2205;
}

/*new footer style */
#footerLogo{
  width:380px;
  height:auto;
  padding-left:140px;
  
  }
  
  .footRow{
    padding-left:45px;
    padding-top:20px;
  }
  
  .footRow h2{
   font-size:27px;
   line-height:unset;
   
  }
  
  .footRow h5{
   font-size:15px;
   margin-bottom:0px;
   line-height: unset;
   
  }
  
  .footConnect i{
    color:black;
    height:40px;
    width:34px;
    border-radius:50%;
    padding-top:7px;
  }

  .footConnect button{
    font-size: 12px;
    width: 92px;
    margin-bottom: 10px;
  }

  .footConnect h2{
    margin-bottom: 10px;
  }
  
  
  .footNew{
  
  background-size:395px;
  background-repeat:no-repeat;
  background-position:80vw;
  }

    ::-moz-selection {
       background-color: #f56363;
       color: #000;
}

/* Works in Safari */
::selection {
       background-color: #f56363;
       color: #000;
}
.speaker-wrap{
  position: relative;
 
}
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.7);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  padding-top: 70%;
  font-size: 15px;
  font-family: '33535gillsansmt';
  letter-spacing: 2px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.speaker-wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
#contactForm{padding-bottom: 30px;}
#contactForm button{
  
    font-size: 22px;
    /* border-radius: 50%; */
    margin-top: 15px;
    background-color: white;
    border-radius: 0px;
    color: black;
    font-family: 'roboto condensed';
    border-width: 1px;
    width: 120px;
    height: 38px;
    border-color: white;
    border-radius: 0px;
}

#Regspn{
  padding-right: 5vw;
}
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
.fixedPosition
 {
    position: fixed;
 }


.spText{
  margin-left:12vw;
  margin-right: 12vw;
}

.sponsors a img{
    margin-bottom:100px; 

  }
